body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}

h1 {
        display: block;
}

.flex-right {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: fit-content;
        gap: 1rem;
        margin-right: 3%;
}

.button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        width: fit-content;
        text-align: center;
}

.button {
        display: block;
        background-color: #444444;
        color: pink;
        border: 0px;
        font-size: medium;
        cursor: pointer;
        padding-inline: 20%;
        padding-block: 10%;
        border-radius: 3px;
        font-weight: bold;
        text-decoration: none;
}

.button:any-link {
        color: white;
}

.button:visited, .button:link {
        color: white;
}

#json {
        color: purple;
}

#csv {
        color: green;
}

#table_link {
        font-size: x-large;
}

div {
        margin-top: 1vw;
        margin-bottom: 1vw;
        margin-right: 20%;
        margin-left: 0.5vw;
}

h1, h2, h3 {
        margin-left: 0.5vw;
}

#desc {
        text-align: justify;
        word-spacing: 0.2vw;
}

#license {
        margin-left: 1vw;
        font-style: italic;
        color: #444444;
}

td {
        border: 1px solid #444444;
}

#metadata {
        width: 45vw;
}

#GAME {
        width: 76vw;
}

#PLATFORMS {
        width: 32vw;
}

#DLCS {
        width: 34vw;
}

a:visited, a:link {
        color: darkblue;
}